.container {
    padding: 10px;
    margin: 30px 5px;
    border-radius: 10px;
    box-shadow: 2px 5px 12px rgb(163, 163, 163);
}

.container img{
    width: 230px;
    height: 220px;
}

.container h3, .productPrice {
    margin-top: 10px;
}

.container .productPrice {
    color: #fff;
    padding: 3px 6px;
    width: fit-content;
    border-radius: 5px;
    background-color: rgb(0, 184, 0);
}

.container a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(55, 55, 55);
}

.footerBtns {
    height: 20px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    padding: 15px 10px 5px;
    border-top: 1px solid silver;
    justify-content: space-evenly;
}

.footerBtns button:hover {
    cursor: pointer;
}

.counter {
    color: rgb(25,103,210);
}

.addItemBtn {
    border: none;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: rgb(25,103,210);
}